/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #5D8966;
  --theme__color2: #23AD40;
  --poppins: 'Poppins', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1999px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1432px;
  }
}


/* ---common-content--- */
.h2 {
  font-size: 60px;
  margin: 0 0 55px;
  font-weight: 800;
  font-family: var(--montserrat);
}
.h2-sm {
  font-size: 40px;
  margin: 0 0 55px;
  line-height: 1.32;
  font-weight: 800;
  font-family: var(--montserrat);
}
.h4 {
  font-size: 35px;
  line-height: 1.7;
  font-weight: 500;
}
.h5 {
  font-size: 30px;
  line-height: 1.7;
  font-weight: 400;
}
.bm-p {
  font-size: 20px;
  line-height: 2.1;
}
.bs-p {
  font-size: 15px;
  line-height: 1.5;
}
.sec-title {
  margin: 0 0 35px;
}
.cont_blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont_blk--center {
  text-align: center;
  align-items: center;
}


.slider-dots1 .owl-dots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.slider-dots1 .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 6px;
  background: #E7E7E7 !important;
  transition: 0.3s;
}
.slider-dots1 .owl-dot.active {
  background: var(--theme__color1) !important;
}
/* ---common-content---end */




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
}
.header__in {
  padding: 60px 0;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {

}
.header__logo img {

}

.header__right {
  display: flex;
  align-items: center;
}
.main-menu {

}
.main-menu > ul {
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  margin-right: 55px;
}
.main-menu > ul > li:last-child {
  margin-right: 0;
}
.main-menu > ul > li a {
  font-size: 21px;
  font-weight: 500;
  transition: 0.3s;
}
.main-menu > ul > li a:hover {
  color: #23AD40;
}

.header__right-button {
  margin: 0 0 0 60px;
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #19381E;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu:-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */



/* ---hero-section--- */
.hero-section {
  padding: 260px 0 240px;
  position: relative;
  z-index: 2;
  color: #fff;
}
.hero-section.hero-section--title {
	padding: 170px 0 140px;
}
.hero__background {
  background: url('images/hero-bg.png') no-repeat center center/cover, #1F3E25;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  mask: url('images/hero-mask.png') no-repeat center center/100% 100%;
  -webkit-mask: url('images/hero-mask.png') no-repeat center center/100% 100%;
}
.hero__background .shape1 {
  width: 512px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-section.hero-section--title .hero__background .shape1 {
  bottom: -160px;
}
.hero__background .shape2 {
  width: 471px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-section.hero-section--title .hero__background .shape2 {
  bottom: -250px;
}
.hero-section__inner {

}

.hero__row1 {
  display: flex;
  align-items: center;
}
.hero__content {

}
.hero__content .h1 {
  font-size: 90px;
  margin: 0 0 33px;
  line-height: 1.15;
  font-weight: 800;
  font-family: var(--montserrat);
}
.hero__content p {
  font-size: 23px;
  line-height: 2;
  font-weight: 500;
}
.hero__video {
  width: 47%;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.hero__video .video-thumb {
  border-radius: 30px;
  width: 100%;
}
.hero__video .play-button {
  height: 90px;
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}
.hero__video:hover .play-button {
  opacity: 0.9;
}
.hero__video .play-button:hover {
  opacity: 1;
}

.hero-section--title__content {
  text-align: center;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section--title__content-in-car {
  padding: 0 11%;
}
.hero-section--order .hero-section--title__content {
  padding-bottom: 120px;
}
.hero-section--title__content .h1 {
  font-size: 100px;
  font-family: var(--montserrat);
}
.hero-section--title__content .h1-sm {
  font-size: 65px;
  font-family: var(--montserrat);
}
/* ---hero-section---end */



/* ---brands-section--- */
.brands-section {
  padding: 140px 0 160px;
}
.brands-section__inner {

}

.brands__row1 {
  display: flex;
  align-items: center;
}
.brands__row1__left {
  margin-right: 5%;
  width: 48.4%;
  flex-shrink: 0;
}
.brands_wrapper {
  --inner-space: 6%;
  --bt-space: calc(var(--inner-space) * 1.2);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
}
.brand-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  display: flex;
  align-items: center;
}
.brand-single .img {

}

.brands__side-img {

}
.brands__side-img .img {
  width: 142%;
  max-width: initial;
}
/* ---brands-section--- */


/* ---faq-section--- */
.faq-section {
  padding: 290px 0 230px;
  /* background: #24604B; */
  color: #fff;
  position: relative;
  z-index: 1;
}
.faq__background {
  background: url('images/faq-background.png') no-repeat center center/cover, #275831;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  mask: url('images/faq-mask.png') no-repeat center center/100% 100%;
  -webkit-mask: url('images/faq-mask.png') no-repeat center center/100% 100%;
}
/* .faq-section--media .faq__background {
  background: url('images/media-faq-bg.png') no-repeat center center/100% 100%;
  mask: none;
  -webkit-mask: none
} */
.faq-section__inner {
  padding: 0 10.5%;
}
.faq-section__title {

}

.faqs_wrapper {

}
.faq-single {
  --radius: 22px;
  margin: 0 0 20px;
  border-radius: var(--radius);
  background-color: #fff;
  color: #000;
}
.faq-single:last-child {
  margin-bottom: 0;
}
.faq-single__title {
  min-height: 80px;
  font-size: 23px;
  font-weight: 500;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: calc(var(--radius) - 2px);
  transition: 0.3s;
}
.faq-single__title:not(.collapsed) {
  background: #5D8966;
  color: #fff;
}
.faq-single__title .ind {
  transition: 0.3s;
}
.faq-single__title:not(.collapsed) .ind {
  transform: rotate(180deg);
  color: #fff;
}
.faq-single__title .ind::after {
  content: '\f067';
  font-family: "Font Awesome 5 Pro";
}
.faq-single__title:not(.collapsed) .ind::after {
  content: '\f068';
}
.faq-single__collapsed-content {

}
.faq-single__collapsed-content__inner {
  padding: 15px 70px 40px 40px;
}
.faq-single__collapsed-content p {
  font-size: 18px;
  line-height: 2.2;
  color: #555555;
}
/* ---faq-section---end */



/* ---pu-section--- */
.pu-section {
  --top-lift: 200px;
  margin-top: calc(var(--top-lift) * -1);
  padding: calc(var(--top-lift) + 110px) 0 170px;
  background: url('images/power-up-bg.png') no-repeat center center/100% 100%;
}
.pu-section__inner {
  padding: 0 10%;
}
.pu-section__title {

}

.pu__glob-row {
  margin: 0 0 10px;
  display: flex;
  justify-content: center;
}
.pu__glob-row .img {

}

.pu__chart-row {
  display: flex;
  justify-content: center;
}
.pu__chart-row .img {

}
/* ---pu-section---end */


/* ---pt-section--- */
.pt-section {
  padding: 180px 0 340px;
}
.pt-section__inner {

}

.pt__row1 {
  display: flex;
  align-items: center;
}
.pt__r1__logo-side {
	width: 52.2%;
  margin: 0 6.5% 0 0;
	flex-shrink: 0;
}
.pt__r1__logo-side .img {

}
.pt__r1-text-side {

}
/* ---pt-section---end */



/* ---footer-section--- */
.before-footer-section {
  padding-bottom: 450px !important;
}

.footer-section {
  background: #1B1C1D;
  position: relative;
  z-index: 1;
  color: #fff;
}
.footer-section::before {
  content: '';
  height: 92px;
  width: 100%;
  position: absolute;
  bottom: calc(100% - 2px);
  left: 0;
  background: url('images/footer-bg.png') no-repeat center top/100% 1370px;
  z-index: -1;
}

.footer__at-box_outer {

}
.footer__at-box {
  padding: 130px;
  border-radius: 50px;
  max-width: 1212px;
  margin: -285px auto 0;
  background: url('images/footer-at-box.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__at-box h4 {
  font-size: 60px;
  margin: 0;
  font-weight: 800;
  font-family: var(--montserrat);
}
.footer__at-box h2 {
  font-size: 100px;
  margin: 0 0 45px;
  font-weight: 300;
  font-family: var(--montserrat);
}
.footer__at-box h2 .bottom-button {
  
}


.footer__top {
  padding: 100px 0 80px;
}
.footer__top__inner {
  padding: 0 2%;
}
.footer__trow1 {
  display: flex;
}
.footer__logo-column {
  width: 50%;
}
.footer__logo {
  margin: 0 0 35px;
  width: 420px;
  display: inline-block;
}
.footer__logo img {
  width: 100%;
}
.footer__cta-menu {

}
.footer__cta-menu li {
  margin-bottom: 33px;
}
.footer__cta-menu li:last-child {
  margin-bottom: 0;
}
.footer__cta-menu li a {
  font-size: 22px;
  line-height: 1.45;
  display: inline-flex;
  transition: 0.3s;
}
.footer__cta-menu li a:hover {
  color: #38AC60;
}
.footer__cta-menu li a .icon {
	width: 23px;
	margin: 3px 16px 0 0;
	flex-shrink: 0;
	color: var(--theme__color1);
}

.footer__menu-column {
  width: 25%;
}
.footer__menu-column h4 {
  font-size: 30px;
  margin: 0 0 45px;
  font-weight: 600;
}
.footer__menu {

}
.footer__menu li {
  margin-bottom: 25px;
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
.footer__menu li a {
  font-size: 22px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}
.footer__menu li a:hover {
  color: #38AC60;
}
.footer__menu li a .icon {
  margin: 0 15px 0 0;
  font-size: 12px;
}
.footer__smenu {
  display: flex;
}
.footer__smenu li {
  margin-right: 20px;
}
.footer__smenu li:last-child {
  margin-right: 0;
}
.footer__smenu li a {
  height: 57px;
  width: 57px;
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  border-radius: 50%;
  transition: 0.3s;
}
.footer__smenu li a:hover {
  background: #38AC60;
}



.footer__bottom {
	padding: 40px 0;
	border-top: 1px solid #444444;
}
.footer__bottom__inner {
  padding: 0 2%;
}
.footer__bottom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.copyright {
  font-size: 20px !important;
  margin: 0 0 30px;
  font-weight: 400;
}
.footer__bottom__content .line {
  margin: 0 0 26px;
  height: 3px;
  width: 62px;
  background: #5D8966;
  display: block;
}
.footer__bottom__content p {
  line-height: 2.2;
  font-size: 15px;
}
/* ---footer-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 140px 0 260px;
}
.contact-section__inner {
  padding: 0 7.7%;
}

.contact__row1 {
  display: flex;
  justify-content: space-between;
}
.contact__content {
  width: 46%;
  flex-shrink: 0;
}
.contact__content .h2 {
  margin: 0 0 25px;
}
.contact__content .contact__cta-menu {
  padding: 25px 0 0;
}
.contact__content .contact__cta-menu li {
  margin: 0 0 18px;
}
.contact__content .contact__cta-menu a {
  line-height: 1.8;
}

.contact__form {
  padding: 50px;
  width: 43.8%;
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__form__inner {

}
.contact__form .form__title {
  margin: 0 0 40px;
  text-align: center;
}
.contact__form .form__title h3 {
  font-size: 40px;
  font-weight: 600;
}
.contact__form .form__main {

}
.contact__form .submit-button {
  min-width: 231px;
}
.single_input-x {
  margin: 0 0 33px;
  width: 100%;
}
.input-x_outer {
  width: 100%;
}
.input-x {
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  background: #F8F8F8;
  color: #868686;
}
.input-x--big {
  height: 127px;
}
/* ---contact-section---ene */


/* ---tube-section--- */
.tube-section {
  padding: 110px 0;
}
.tube-section__inner {
  
}
.tube-section__title {
  
}

.tube__row1 {
  --inner-space: 55px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.tube-sm {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
}
.tube-sm__inner {
  position: relative;
  padding-top: 56%;
}
.tube-sm iframe {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tube-sm_slider  .owl-dots {
  margin: 25px 0 0;
}

.tube__row2 {
  margin: 66px 0 0;
  padding: 0 4.5%;
}
.tube-md {

}
.tube-md__inner {
	position: relative;
	padding-top: 58.9%;
}
.tube-md iframe {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* ---tube-section---end */



/* ---fe-section--- */
.fe-section {
  padding: 110px 0;
}
.fe-section__inner {
  padding: 0 2.7%;
}
.fe-section__title {

}

.fe__row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fe__r1__image {
  flex-shrink: 0;
  width: 46%;
}
.fe__r1__image img {

}
.fe__r1__content {
  width: 46%;
}
.fe__r1__content p {

}


.mx-ul {

}
.mx-ul li {
  margin-bottom: 24px;
  padding-left: 25px;
  font-size: 23px;
  font-weight: 500;
  position: relative;
}
.mx-ul li::before {
  font-size: 15px;
  color: var(--theme__color1);
  content: '\f054';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 6px;
  left: 0;
}
.mx-ul li:last-child {
  margin-bottom: 0;
}
.mx-ul li .s-text {
  font-size: 20px;
  font-weight: 400;
  color: #9A9A9A;
}
/* ---fe-section---end */


/* ---frame-x-section--- */
.frame-x-section {
  padding: 110px 0 200px;
}
.frame-x-section__inner {
	padding: 0 7.6%;
}

.frame-x__frame {

}
.frame-x__frame .frame-img {

}
.frame-x__bt {
  margin: 45px 0 0;
}
.frame-x__bt p {

}
/* ---frame-x-section---end */


/* ---order-section--- */
.order-section {
  margin-top: -240px;
  position: relative;
  z-index: 3;
}
.order-section__inner {

}

.pricing-card_wrapper {
  --inner-space: 45px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
}
.pricing-card {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.pricing-card--focus {
  background: #F0FFF3;
  box-shadow: 0px 40px 45px rgba(42, 63, 46, 0.12);
}
.pricing-card__title {
  padding: 33px 0 25px;
  text-align: center;
}
.pricing-card__title h3 {
  font-size: 30px;
  margin: 0 0 22px;
  font-family: var(--montserrat);
  font-weight: 800;
  color: var(--theme__color1);
}
.pricing-card__title p {
  font-size: 19px;
}
.pricing-card__prow {
  padding: 7px 0;
  background: #F8F8F8;
}
.pricing-card--focus .pricing-card__prow {
  background: var(--theme__color1);
  color: #fff;
}
.pricing-card__prow h3 {
  font-size: 80px;
  margin: 0 0 0px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-card__prow h3 .currency {
  font-size: 30px;
  vertical-align: middle;
}
.pricing-card__prow h3 .value {
  color: var(--theme__color1);
  display: inline-block;
  margin: 0 3px 0 5px;
}
.pricing-card--focus .pricing-card__prow h3 .value {
  color: #fff;
}
.pricing-card__prow h3 .time {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}
.price-card__main {
  padding: 25px 45px 45px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.price-card__m-text {
  flex-grow: 1;
}
.px-check-ul {

}
.px-check-ul li {
  font-size: 17px;
  padding-left: 31px;
  margin-bottom: 17px;
  line-height: 1.65;
  position: relative;
}
.px-check-ul li:last-child {
  margin-bottom: 0;
}
.px-check-ul li:before {
  font-size: 11px;
  content: '\f00c';
  font-family: "Font Awesome 5 Pro";
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}
.price-card__m-bottom {
  padding: 45px 0 0;
  display: flex;
  justify-content: center;
}


.order_drow {
  --inner-space: 28px;
  --bt-space: var(--inner-space);
  --item: 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--inner-space) * -0.5) calc(var(--bt-space) * -1 );
  justify-content: center;
  margin-top: 185px;
}
.order-d-single {
  width: calc((100% / var(--item)) - var(--inner-space));
  margin: 0  calc(var(--inner-space) * 0.5) var(--bt-space);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.order-d-single::after {
  content: '';
  height: 120px;
  width: 2px;
  background: url('images/order-d-line.png') no-repeat center center/100% 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%,-50%);
}
.order-d-single:last-child::after {
  display: none;
}
.order-d-single .icon {
  width: 119px;
  margin: 0 0 62px;
}
.order-d-single .icon img {

}
.order-d-single .texts {

}
.order-d-single .texts h4 {
  font-size: 30px;
  font-weight: 500;
}
/* ---order-section---end */



/* ---product-section--- */
.product-section {
  padding: 110px 0 220px;
}
.product-section__inner {

}
.product-section__title {
  margin: 0 0 80px;
}

.product__cont-row {
  margin: 0 0 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.product__cont-row__image {
	width: 46%;
  position: relative;
  z-index: 1;
}
.product__cont-row-even .product__cont-row__image {
  order: 2;
  border-radius: 20px;
}
.product__cont-row__image .img {
  background: #fff;
  border-radius: inherit;
}
.product__cont-row__image .img-shape {
  width: 166%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-64.5%,-40%);
  z-index: -1;
  max-width: initial;
}
.product__cont-row-even .product__cont-row__image {
  order: 2;
}
.product__cont-row-even .product__cont-row__image .img-shape {
	transform: translate(-25.5%,-50%);
	width: 167%;
}
.product__cont-row__texts {
  width: 45.5%;
  position: relative;
  z-index: 2;
}
.product__cont-row__texts .h2 {
  margin: 0 0 35px;
}
.product__cont-row__texts p {
  font-size: 23px;
  line-height: 2.2;
}


.product__bottom-btn-row {
  margin: 270px 0 0;
  display: flex;
  justify-content: center;
}
/* ---product-section---end */